@import "tailwindcss";
@import "tailwindcss/utilities";
@import "react-phone-number-input/style.css";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #0a0a0a; /* ✅ Force Dark Background */
  --foreground: #ededed; /* ✅ Force Dark Text */
    font-family: var(--font-monda), sans-serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-monda: var(--font-monda);
}
@theme {
  --color-primary1: #d0363c;
  --color-primary2: #b32724;
  --color-neutral1: #292b30;
  --color-neutral2: #000000;
  --color-neutral3: #292929;
  --color-neutral4: #1a1a1a;
  --color-secondary1: #ffffff;
  --color-secondary2: #f9f9f9;
  --color-gradient1: #3e0204;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Monda", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
/* Add these in globals.css */
.clip-bottom-right {
  clip-path: circle(75% at 100% 100%);
}

.clip-top-left {
  clip-path: circle(75% at 0% 0%);
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: var(--font-monda), sans-serif;
}

/* Remove library's default input style */
.PhoneInputInput {
  @apply w-full border-none focus:ring-0 focus:outline-none;
}

/* Style the flag selector */
.PhoneInputCountry {
  @apply mr-2;
}

.PhoneInput {
  @apply flex items-center border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-2 focus-within:ring-blue-500;
}
